body {
    margin: 0px;
}

.first-heading {
    font-family: "Bungee Shade";
    color: white;
    font-size: 7vw;
    padding-left: 2.5vw;
    line-height: 14vh;
    
}

.grey-background {
    margin: 12vh 5vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4vh;
}

nav {
    display: flex;
    margin: 11vh 2vw 12vh 2vw;
    gap: 0.5vw;

}

nav div {
    flex-grow: 1;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 4vh 5vw;
    border-radius: 2vh;
    font-family: "Barlow Semi Condensed";
    font-size: 2vw;
}

nav div:hover:not(.marked) {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

li {
    list-style-type: none;
}

.song_list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 1.5vw;
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;*/
}

.first_page,
.second_page {
    background-color: lightskyblue;
    color: bisque;
    margin: 0px;
    padding: 1.5vw 1vw 0px 2vw;
    flex-grow: 1;
}

.first_page {
    border-radius: 0px 0px 0px 3vh;
}

.second_page {
    border-radius: 0px 0px 3vh 0px;
}

/*.first_page {
    grid-column: 1;
}

.second_page {
    grid-column: 2;
}*/

.song-list {
    padding: 0px;
    margin: 0px;
}

/*classer (och id) som redan fanns är nedanför*/
.best {
    margin-right: 2vw;
    margin-left: 2vw;
    padding: 2vw;
    border-radius: 20px;
    border: 1px solid white;
    /*position: relative;*/
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 2fr repeat(2, 1fr);
    gap: 1.5vw;

    
}

.marked {
    border: 1px solid white;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7);
}

footer {
    margin: 10vh 0vw 0vh 2vw;
    padding-bottom: 3vh;
    color: white;
    font-family: "Barlow Condensed"
    
}

.album_data div h1 {
    font-family: "Bungee Outline";
    color: white;
    font-size: 3vw;
    line-height: 7vh;
}

.album_data div h2 {
    font-family: "Barlow Semi Condensed";
    font-size: 2vw;
    color: white;
    line-height: 4vh;
}

.album_data {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: space-between;

}

.album_data div h1,
h2,
p {
    margin: 0px;
}

.cover {
    /*position: absolute;
    top: 2vh;
    right: 2vw; */
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
}

.show_hover {
    height: 100%;
    width: 100%;
    display: none;
}

.show_not_hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 3vh 3vh 0px 0px;
    
}

.anecdotes {
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
}

