body {
    margin: 0px;

    --font_size: 1.5vw;
}

header h1 {
    font-family: "Bungee Shade";
    color: white;
    font-size: calc(6.5 * var(--font_size));
    padding-left: 2.5vw;
    padding-top: 2.8vh;
    line-height: 21vh; 
}

body > div {
    background-image: url("media/aries29.jpg");
    position: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

body > div > div {
    margin: 12vh 5vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 4vh;
}

nav {
    display: flex;
    margin: 11vh 2vw 12vh 2vw;
    gap: 0.5vw;
}

nav div {
    flex-grow: 1;
    flex-basis: 1vw;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 2vw;
    border-radius: 2vh;
    font-family: "Barlow Semi Condensed";
    font-size: calc(0.5vw + var(--font_size));
}

nav div:hover:not(.marked) {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.best div div h2 + ul {
    list-style-type: decimal;
}

.song_list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 1.5vw;
}

.song_list div ul {
    padding-left: 1.3vw;
}

.best .song_list > div {
    background-color: rgb(146, 189, 242);
    color: bisque;
    margin: 0px;
    padding: 0 0 1vh 1.5vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#axis_bold_as_love .song_list > div {
    background-color: green;
    color: rgb(252, 157, 69);
}

article .song_list h2 {
    font-size: calc(0.5vw + var(--font_size));
}

.best .song_list div:first-child {
    border-radius: 0px 0px 0px 3vh;
}

.best .song_list div:last-child {
    border-radius: 0px 0px 3vh 0px;
}

.song_list div h2 + ul {
    margin: 0px;
}

.best {
    margin-right: 3vw;
    margin-left: 3vw;
    padding: 2vw;
    border-radius: 3vh;
    border: 1px solid white;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 2fr repeat(2, 1fr);
    gap: 1.5vw;
    background-color: rgba(0, 0, 0, 0.3);
}

.marked {
    border: 1px solid white;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px white;
}

footer {
    margin: 10vh 0vw 0vh 2vw;
    padding-bottom: 3vh;
    color: white;
    font-family: "Barlow Condensed";
    font-size: var(--font_size);
    
}

.album_data div h1 {
    font-family: "Bungee Outline";
    color: white;
    font-size: calc(2.7 * var(--font_size));
    line-height: 8vh;
}

.album_data div h2 {
    font-family: "Barlow Semi Condensed";
    font-size: calc(1vw + var(--font_size));
    color: white;
}

.album_data {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: space-between;

}

.album_data div h1,
h2,
p {
    margin: 0px;
}

.cover {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 2; 
}

.show_not_hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: opacity;
    transition-duration: 1.5s;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.show_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: z-index;
    transition-duration: 2.5s;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
}

.cover:hover .show_hover {
    z-index: 2;
}

.cover:hover .show_not_hover {
    opacity: 0;
}

.show_not_hover,
.show_hover {
    border-radius: 3vh 3vh 0px 0px; 
}

#are_you_experienced .anecdotes {
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2fr repeat(2, 1fr);
    gap: 0.5vw;
}

.anecdotes li:not(.empty) {
    background-color: bisque;
    padding: 1.7vw;
    color: black;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#axis_bold_as_love .anecdotes li:not(.empty) {
    background-color: rgb(150, 183, 186);
    color: rgb(235, 235, 72);
}

.anecdotes .bottom_right_90 {
   border-radius: 3vh 3vh 0vh 3vh;
}

.anecdotes .top_right_90 {
    border-radius: 3vh 0vh 3vh 3vh;
}

#are_you_experienced .anecdotes .image_1 {
    border-radius: 0vh 3vh 3vh 3vh;
    align-items: flex-end;
    background-image: url("media/aries08.jpg");
    background-size: cover;
    background-position: center;
}

#axis_bold_as_love .anecdotes li:nth-child(2) {
   border-radius: 0px 3vh 3vh 3vh;
}

.anecdotes .tablet_empty,
.phone_empty {
    display: none;
}

.anecdotes .two_wide {
   border-radius: 3vh 3vh 3vh 0vh;
}

#axis_bold_as_love .anecdotes{
    grid-column: 1 / span 2;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    gap: 0.5vw;
}

#axis_bold_as_love .anecdotes .image_1 {
    background-image: url("media/aries16.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    border-radius: 0px 3vh 3vh 3vh;
}

article > ul,
.album_data div p + ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#are_you_experienced .song_list div:nth-child(2) ul li:nth-child(4),
#are_you_experienced .song_list div:nth-child(2) ul li:nth-child(5),
.song_list div:nth-child(2) ul li:nth-child(6) {
    list-style-type: none;
}

.album_data div p + ul {
    padding-left: 4vw;
}

.album_data div + div,
.song_list,
.anecdotes {
    font-family: "Barlow Condensed";
    font-size: var(--font_size);
}

.album_data div + div {
    color: white;
}

@media (max-width: 900px) and (min-width: 801px) {
    header h1 {
        font-size: 62px; 
    }

    nav div {
        font-size: 16px;
    }

    article .song_list h2 {
        font-size: 17px;
    }

    .album_data div h1 {
        font-size: 25px;
    }
    
    .album_data div h2 {
        font-size: 20px;
    }

    .album_data div + div,
    .song_list,
    .anecdotes {
        font-size: 14px;
    }

    footer {
        font-size: 16px; 
    }
}

@media (max-width: 800px) and (min-width: 501px) {
    .best {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    #are_you_experienced {
        margin-bottom: -2vh;
    }

    .album_data {
        grid-column: 1 / span 2;
        grid-row: 2 / 3;
    }

    .cover {
        grid-column: 1;
        grid-row: 1 / 2;
    }

    .song_list {
        grid-column: 2;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
    }

    #are_you_experienced .anecdotes,
    #axis_bold_as_love .anecdotes {
        grid-column: 1 / span 2;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1vw;
    }
    #are_you_experienced .anecdotes .image {
        grid-column: 2;
        grid-row: 2;
    }

    #are_you_experienced .anecdotes .two_wide {
        grid-column: 3 / span 2;
        grid-row: 1;
    }

    #are_you_experienced .anecdotes .bottom_right_90 {
        grid-column: 3;
        grid-row: 2;
    }
    #are_you_experienced .anecdotes .tablet_empty {
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }

    #axis_bold_as_love .anecdotes .bottom_left_90 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    #axis_bold_as_love .anecdotes .top_left_90 {
        grid-column: 3;
        grid-row: 1;
    }

    #axis_bold_as_love .anecdotes li:nth-child(5) {
        grid-column: 2 / span 2;
        grid-row: 2;
    }
    #axis_bold_as_love .anecdotes .bottom_right_90 {
        grid-column: 4;
        grid-row: 2;
    }

    .show_not_hover,
    .show_hover {
        border-radius: 3vh 0px 0px 3vh; 
    }

    .best .song_list div:first-child {
        border-radius: 0px 3vh 0px 0px;
    }
    
    .best .song_list div:last-child {
        border-radius: 0px 0px 3vh 0px;
    }

    #axis_bold_as_love .anecdotes .tablet_empty {
        display: grid;
    }

    body > div > div {
        margin: 22vh 5vw 12vh 5vw;
    }

    .album_data div:nth-child(2) {
        padding: 3vh;
        padding-left: 0;
    }

    /*Teckenstorlekar nedan*/
    header h1 {
        font-size: calc(10 * var(--font_size)); 
        text-align: center;
        padding-top: 2.5vh;
        line-height: 16vh;
    }

    nav div {
        font-size: calc(2 * var(--font_size));
    }

    article .song_list h2 {
        font-size: calc(3 * var(--font_size));
    }

    .song_list div ul {
        padding-left: 2.5vw;
    }
    
    .best .song_list > div {
        padding: 3vw;  
        padding-top: 2.5vw;
    }

    .album_data div h1 {
        font-size: calc(4 * var(--font_size));
        line-height: 7vh;
    }
    
    .album_data div h2 {
        font-size: calc(2.8 * var(--font_size));
    }

    .album_data div + div,
    .song_list,
    .anecdotes {
        font-size: calc(2 * var(--font_size));
    }

    footer {
        font-size: calc(2 * var(--font_size)); 
    }

}

@media (max-width: 500px) {
    .best {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.4fr 1fr 1fr;
    }

    #are_you_experienced {
        margin-bottom: -4vh;
    }

    .album_data {
        grid-column: 1;
        grid-row: 3 / 3;
    }

    .cover {
        grid-column: 1;
        grid-row: 1;
    }

    .song_list {
        grid-column: 1;
        grid-row: 2 / 2;
        display: flex;
    }

    #are_you_experienced .anecdotes,
    #axis_bold_as_love .anecdotes {
        grid-column: 1;
        grid-row: 4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 1vw;
    }

    body > div > div {
        margin: 0;
        border-radius: 0;
    }

    #are_you_experienced .anecdotes .phone_empty {
        display: grid;
        grid-column: 1;
        grid-row: 2;
    }

    #are_you_experienced .anecdotes .image {
        grid-column: 2;
        grid-row: 2;
    }

    #are_you_experienced .anecdotes .two_wide {
        grid-column: 2 / span 2;
        grid-row: 1;
    }

    #are_you_experienced .anecdotes .bottom_right_90 {
        grid-column: 3;
        grid-row: 2;
    }
    #axis_bold_as_love .anecdotes .bottom_left_90 {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    #axis_bold_as_love .anecdotes .top_left_90 {
        grid-column: 3;
        grid-row: 1;
    }

    #axis_bold_as_love .anecdotes li:nth-child(5) {
        grid-column: 1 / span 2;
        grid-row: 2;
    }
    #axis_bold_as_love .anecdotes .bottom_right_90 {
        grid-column: 3;
        grid-row: 2;
    }

    .album_data div:nth-child(2) {
        padding: 7vh;
        padding-left: 0;
    }

    .album_data div p + ul {
        padding-left: 6vw;
    }

    .show_not_hover,
    .show_hover {
        object-fit: cover;
        object-position: center;
    }

    /*Teckenstorlekar nedan*/
    header h1 {
        font-size: calc(11 * var(--font_size)); 
        line-height: 14vh;
        text-align: center;
        padding: 0;
        padding-top: 2vh;
        margin: 0;
    }

    nav div {
        font-size: calc(2.2 * var(--font_size));
        padding: 3vw;
    }

    article .song_list h2 {
        font-size: calc(4 * var(--font_size));
    }

    .song_list div ul {
        padding-left: 2.5vw;
    }
    
    .best .song_list > div {
        padding: 3vw;  
        padding-top: 2.5vw;
    }

    .album_data div h1 {
        font-size: calc(5 * var(--font_size));
        line-height: 6.5vh;
    }
    
    .album_data div h2 {
        font-size: calc(3.7 * var(--font_size));
    }

    .album_data div + div,
    .song_list,
    .anecdotes {
        font-size: calc(2.5 * var(--font_size));
    }

    footer {
        font-size: calc(2.2 * var(--font_size)); 
    }
}

