body {
    margin: 0px;
}

.first-heading {
    font-family: "Bungee Shade";
    color: white;
    font-size: 7vw;
    padding-left: 3vw;
    line-height: 14vh;
    
}

.grey-background {
    margin: 12vh 5vw;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

nav {
    display: flex;
    margin: 10vh 2vw 12vh 2vw;
    gap: 0.5vw;

}

nav div {
    flex-grow: 1;
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 4vh 5vw;
    border-radius: 10px;
    font-family: "Barlow Semi Condensed";
    font-size: 20px;
}

nav div:hover:not(.marked) {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

li {
    list-style-type: none;
}

/*classer (och id) som redan fanns är nedanför*/
.best {
    margin-right: 2vw;
    margin-left: 2vw;
    padding: 2vw;
    border-radius: 20px;
    border: 1px solid white;
}

.marked {
    border: 1px solid white;
    font-weight: bold;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.7);
}

footer {
    margin: 10vh 0vw 0vh 2vw;
    padding-bottom: 3vh;
    color: white;
    font-family: "Barlow Condensed"
    
}

